h1{
  text-align: center;
}



.mustang-container{
  border: 1px dotted blue;
  text-align:center;
}
.mustang{
  display:inline-block;
  width:calc(100% / 3);
}
.mustang img {
   max-width: 100%;
  max-height: 200px;
}

.mustang ul {
  padding:0;
}

.mustang li{
  list-style: none;
  cursor:pointer;
  background-color: #ddd;
  margin:10px auto;
  display:block;
  padding:10px;
  max-width:200px;
  border-radius:8px;
  box-shadow: 0 2px 0px #555;
}
